@model Docentes.Models.Docente

@{
    ViewBag.Title = "Details";
}



 <div class="card text-center mt-4">
      <div class="card-body">

        <div class="row">
          <div class="col-3">
            <img src="Files/@Model.Imagen" alt="" width="70" height="70" class="rounded-circle">
          </div>
          <div class="col-9">
            <dl class="row">
              <dt class="col-5 text-right">Nombres: </dt>
              <dd class="col-7 text-left">@Model.Nombres</dd>

              <dt class="col-5 text-right">Apellidos: </dt>
              <dd class="col-7 text-left">@Model.Apellidos</dd>

              <dt class="col-5 text-right">Inss: </dt>
              <dd class="col-7 text-left">@Model.Inss</dd>
            </dl>
          </div>
        </div>


      </div>
      <div class="card-footer text-muted bg-light">
         <div class="btn-group float-right">

              <a href="#" onclick="loadData('/Docentes/Publicaciones/@Model.Id', 'visualicedataviaajax')" class="btn btn-link" title="Publicaciones">
                  <span class="fa fa-file-o" aria-hidden="true"></span>
              </a>
              <a href="#" onclick="loadData('/Docentes/Proyectos/@Model.Id', 'visualicedataviaajax')" class="btn btn-link" title="Proyectos">
                  <span class="fa fa-list" aria-hidden="true"></span>
              </a>
              <a href="#" onclick="loadData('/Docentes/Edit/@Model.Id', 'visualicedataviaajax')" class="btn btn-link"  title="Editar">
                  <span class="fa fa-pencil" aria-hidden="true"></span>
              </a>
               <a href="#"  onclick="loadData('/Docentes/Delete/@Model.Id', 'visualicedataviaajax')" class="btn btn-link" title="Eliminar">
                  <span class="fa fa-trash" aria-hidden="true"></span>
              </a>
        </div>
      </div>
</div>