@model Docentes.Models.Docente

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">

    <div class="col-6">
        @Model.Nombres

        <table>
            <tr>
                <th>Publicacion</th>
            </tr>

            @foreach (var item in Model.Publicaciones)
            {
                <tr>
                    <td>@item.Titulo</td>
                </tr>

            }

        </table>
        

    </div>

</div>